@model MyLawyer.GUI.ViewModels.LinksVM
@{
    ViewBag.Title = "Σύνδεσμοι";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/bootstrap-tab.js")" type="text/javascript"></script>

<div style="margin-left: 50px; margin-right: 50px">
        <h2>@ViewBag.Title</h2>
        <hr class="style-four"/>
        <br />
    </div>

<div id="links" style="padding-left: 100px; padding-right: 100px;">
    

        <div class="tabs" id="mytab2">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#parameter1" data-toggle="tab">Δικηγορικοί Σύλλογοι</a></li>
                  <li><a href="#parameter2" data-toggle="tab">Πρωτοδικεία</a></li>
                  <li><a href="#parameter3" data-toggle="tab">Επιλογή 3</a></li>
                </ul>
                <div class="tab-content">
				    <div class="tab-pane" id="parameter3">
                        <table>
        <tr>
            <td style="min-width:412px;max-width:412px;" valign="top">
                <table class="table .table-hover">
                     <tr>
                         <td>
                            <b style="font-size:19px;color:#693003;">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <b style="font-size: 19px;color:#693003;"">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                    <tr>
                         <td>
                            <b style="font-size:19px;color:#693003;">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <b style="font-size: 19px;color:#693003;"">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                </table>
            </td>
            <td style="min-width:412px;max-width:412px;" valign="top">
                <table class="table .table-hover">
                     <tr>
                         <td>
                            <b style="font-size: 19px;color:#693003;"">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                     <tr>
                         <td>
                            <b style="font-size: 19px;color:#693003;"">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small disabled" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small disabled" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>
                    <tr>
                         <td>
                            <b style="font-size: 19px;color:#693003;"">Δικηγορικός Σύλλογος Αθηνών</b>
                            <br />
                            <p style="margin-top:5px;margin-bottom:20px;">Ακαδημίας 60, Αθήνα, 12345&#09;<i class="icon-info-sign"></i>&#09;2103398270 &#09; &#09;</p>
                            <a class="btn btn-small disabled" href="www.contra.gr"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-small disabled" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                            <br />
                            <br />
                         </td>
                     </tr>

                </table>
            </td>
        </tr>
    </table>
                    </div>
                    <div class="tab-pane" id="parameter2">
                        <table class="table .table-hover">
                             @if (Model.LinkListOfType2 != null)
                            {
                                var list = Model.LinkListOfType2.ToList();
                                foreach (var link in list)
                                {
                                    <tr>
                                         <td>
                                            <b style="font-size:19px;color:#693003;">@Html.DisplayFor(linkItem => link.Title)</b>
                                            <br />
                                            <p style="margin-top:5px;margin-bottom:20px;">@Html.DisplayFor(linkItem => link.Address)&#09;<i class="icon-info-sign"></i>&#09;
                                                @if(link.Phone != null){
                                                    @Html.DisplayFor(linkItem => link.Phone)
                                                }
                                                else{
                                                    @Html.Raw(" τηλέφωνο μη διαθέσιμο")
                                                } 
                                                &#09; &#09;
                                            </p>
                                            @if(link.Website != null)
                                            {
                                                <a class="btn btn-small" href="@Html.DisplayFor(linkItem => link.Website)"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                                            }
                                            else{
                                                <a class="btn btn-small disabled" href="#"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                                            }
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @if(link.Email != null)
                                            {
                                                <a class="btn btn-small" href="mailto:@Html.DisplayFor(linkItem => link.Email)"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                                            }
                                            else{
                                                <a class="btn btn-small disabled" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                                            }
                                            <br />
                                            <br />
                                         </td>
                                    </tr>                  
                                }
                            }
                    </table>
                    </div>
				    <div class="tab-pane active" id="parameter1">
                        <table class="table .table-hover">
                             @if (Model.LinkListOfType1 != null)
                             {
                                var list = Model.LinkListOfType1.ToList();
                                foreach (var link in list)
                                {
                                    <tr>
                                         <td>
                                            <b style="font-size:19px;color:#693003;">@Html.DisplayFor(linkItem => link.Title)</b>
                                            <br />
                                            <p style="margin-top:5px;margin-bottom:20px;">@Html.DisplayFor(linkItem => link.Address)&#09;<i class="icon-info-sign"></i>&#09;
                                                @if(link.Phone != null){
                                                    @Html.DisplayFor(linkItem => link.Phone)
                                                }
                                                else{
                                                    @Html.Raw(" τηλέφωνο μη διαθέσιμο")
                                                } 
                                                &#09; &#09;
                                            </p>
                                            @if(link.Website != null)
                                            {
                                                <a class="btn btn-small" href="@Html.DisplayFor(linkItem => link.Website)"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                                            }
                                            else{
                                                <a class="btn btn-small disabled" href="#"><i class="icon-home"></i>&#09;&#09;Ιστοσελίδα</a>
                                            }
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            @if(link.Email != null)
                                            {
                                                <a class="btn btn-small" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                                            }
                                            else{
                                                <a class="btn btn-small disabled" href="#"><i class="icon-envelope"></i>&#09;&#09;Επικοινωνία</a>
                                            }
                                            <br />
                                            <br />
                                         </td>
                                    </tr>                  
                                }
                            }
                    </table>
                    </div>
              </div>
        </div>
</div>
